body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
  }

img {
    mix-blend-mode: multiply;
}

a {
    text-decoration: none;
    color: rgb(49, 47, 47);
}

* {
   box-sizing: border-box;
}
h1 {
    color:antiquewhite;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0)
}

h5 {
    font-size: 40px;
}

#bg {
    background-repeat: no-repeat;
    background-size: 1980px 1000px ;
    background-position: top;
    
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-navbar {
    width: 200px;
}

.logo-navbar img {
    display: block;
    max-width: 100%;
}

.buttons-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.buttons-navbar .nav-button {
    margin: 10px;
}

.navbar-buttons {
    display: flex;
    justify-content: space-around;
}

.nav-button {
    color: rgb(255, 253, 253);
    border: none;
    text-decoration: none;
    background-color: rgb(241, 226, 193,.8);
    padding: 7px;
    border-radius: 4px;
}

.user-header {
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(56, 109, 51);
    text-shadow: 1px 1px 2px rgb(192, 255, 239);

}

.btn-link-nav {
    color: rgb(255, 253, 253);
    text-decoration: none;
}

#autocomplete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autocomplete-input {
    width: 200px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    text-align: center;
    padding: 20px;
    position:absolute;
    justify-content: space-around;
    bottom:0;
    height:100px;
    width:100%;
}

footer .nav-button {
    height: 70%;
}

form {
    padding-bottom: 30px;
}

form p {
    color:antiquewhite;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.legals-card-container {
    display: flex;
    justify-content: space-around;
}

.legals-card-container li {
    margin: 10px;
}

#firstcardgroup {
    display: flex;
}

#secondcardgroup {
    display: flex;
}
