{% extends 'website/index.html' %}
{% load static %}

{% block content %}
<div class="card bg-secondary text-white text-center">
    <img src="{% static "images/jardin1.jpg" %}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="card-header">
            <h5 class="card-title">Vous vous êtes égaré ...</h5>
            <button class='nav-button'><a href="{% url 'mainpage' %}">Retour a l'acceuil</a></button>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}