{% extends 'website/index.html' %}
{% block meteo %}{% endblock meteo %}
{% block content %}
<form action="{% url 'add_customer' %}" method="post">
    {% csrf_token %}
    <h2>Create Customer</h2>
    <h3><a href="{% url 'account_customer' %}">Retour</a></h3>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        <h2>{{ message }}</h2>
    </div>
    {% endif %}
    
        {{ add_customer_form.as_p }}

        {% if add_customer_form.errors %}
        {% for field in add_customer_form %}
            {% for errors in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ errors|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for errors in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ errors|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn btn-warning" type="submit" name="register">Enregistrer client</button>
</form>
{% endblock content %}