{% extends 'website/index.html' %}

{% block content %}
<form action="{% url 'add_maintenance_event' %}" method="post">
    {% csrf_token %}
    
    <h2>Create Event</h2>
    <h2><a href="{% url 'account' %}">Retour</a></h2>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        <h2>{{ message }}</h2>
    </div>
    {% endif %}
    
    <p>TITLE</p>
    <input type="text" name='title' required>
    <p>Date de début (FORMAT : DD/MM/YYYY HH:MM)</p>
    <input type="text" name="event_start" id="" help='test' required>
    <p>Date de fin (FORMAT : DD/MM/YYYY HH:MM)</p>
    <input type="text" name="event_end" required>
    <p>Description</p>
    <textarea name="description" id="" cols="30" rows="10"></textarea><br>
    
    
    <button class="btn btn-warning" type="submit" name="register">Enregistrer evenement</button>
</form>
{% endblock content %}