{% extends 'website/index.html' %}

{% block content %}
<form action="{% url 'add_maintenance_event' %}" method="post">
    {% csrf_token %}
    
    <h2>Create Event</h2>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        <h2>{{ message }}</h2>
    </div>
    {% endif %}
    
    <p>INTITULE</p>
    <input type="text" placeholder="Intitulé" name="title"/><br>
    <p>DATE DEBUT</p>
    <input type="datetime-local" placeholder=" date de début" name="startdate"/><br>
    <p>COMMENTAIRE OU DESCRIPTION</p>
    <input type="text" placeholder="Commentaire" name="description"/><br>
    
    
    <button class="btn btn-warning" type="submit" name="register">Enregistrer evenement</button>
</form>
{% endblock content %}