{% extends 'website/index.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    
    <h2>UPDATE Customer</h2>
    <h2><a href="{% url 'account_customer' %}">Retour</a></h2>
    
    {% if message %}
    <div class="alert alert-danger" role="alert">
        <h2>{{ message }}</h2>
    </div>
    {% endif %}
    {{ update_customer_form.as_p }}
    
    <button class="btn btn-warning" type="submit" name="register">Modifier client</button>
</form>
{% endblock content %}