{% extends 'website/index.html' %}
{% load static %}
{% block meteo %}{% endblock meteo %}
{% block content %}
<div class="row" style="text-align:center; color:rgb(255,235,205); margin-bottom:60px;">
    <div class="col">
        <h1>LISTE DES EVENEMENTS</h1>
    </div>    
</div>
<div class="navbar-buttons" style="margin-bottom:40px;">
    <button class='nav-button'><a id='btn-link-nav' href="{% url 'account' %}">Retour</a></button>
</div>
<table class="table table-secondary table-striped">
        <tr>
            <td>TITRE</td>
            <td>DATE DE DEBUT</td>
            <td>DESCRIPTION</td>
            <td>CATEGORIE</td>
            <td>CLIENT</td>
            <td></td>
            <td></td>
        </tr>
    {% for event in events %}  
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.event_start }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.category }}</td>
            {% if event.customer %}
            <td style="text-transform:uppercase">{{ event.customer.lastname }}  {{ event.customer.firstname }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if event.category.title == "Chantier" %}
                <td><a href="{% url 'update_customer_event' event.id %}">Modifier</a></td>
            {% else %}
                <td><a href="{% url 'update_maintenance_event' event.id %}">Modifier</a></td>
            {% endif %}
            <td><a href="{% url 'delete_event' event.id %}">Supprimer</a></td>
        </tr> 
    {% endfor %}
</table>
{% endblock content %}
{% block script %}{% endblock script %}