{% extends 'website/index.html' %}
{% block meteo %}{% endblock meteo %}
{% block content %}
<h1>Event list</h1>

<h2><a href="{% url 'account' %}">Retour</a></h2>
<table>
        <tr>
            <td>Titre</td>
            <td>Date de début</td>
            <td>Description</td>
            <td>Catégorie</td>
            <td>Client</td>
            <td>suppression</td>
            <td>edition</td>
        </tr>
    {% for event in events %}  
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.event_start }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.category }}</td>
            {% if event.customer %}
            <td>{{ event.customer.lastname }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if event.category.title == "Chantier" %}
                <td><a href="{% url 'update_customer_event' event.id %}">Modifier</a></td>
            {% else %}
                <td><a href="{% url 'update_maintenance_event' event.id %}">Modifier</a></td>
            {% endif %}
            <td><a href="{% url 'delete_event' event.id %}">Supprimer</a></td>
        </tr> 
    {% endfor %}
</table>
{% endblock content %}