{% extends 'website/index.html' %}
{% block meteo %}{% endblock meteo %}
{% block content %}

<h1>PAGE DE COMPTE</h1>
<h2>Evenements</h2>
<p><a href="{% url "add_customer_event" %}">Ajouter un chantier client</a></p>
<p><a href="{% url "add_maintenance_event" %}">Ajouter une tache d'entretrient</a></p>
<p><a href="{% url "account_event" %}">liste des evenements(edition et suppression)</a></p>

<h2>Clients</h2>
<p><a href="{% url 'account_customer' %}">Ajouter ou editer des clients</a></p>
    
{% endblock content %}