{% extends 'website/index.html' %}

{% block content %}
<header class="masthead">
	<div class="container-fluid px-4 px-lg-5 h-100" id="registration">
		<div class="row gx-4 gx-lg-5 h-100 align-items-top justify-content-center text-center">
			<h2>Login</h2>
			<form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                
                <h2>{{ message }}</h2>
                <br>
                <input type="email" placeholder="Email" name="email"/>
				<br>
                <input type="password" placeholder="Password" name="password"/>
				<br>
                <a href="">Forgot your password?</a>
				<br>
                <button type="submit" name="signin">Sign In</button>
            </form>
		</div>
	</div>
</header>

{% endblock %}