{% extends 'website/index.html' %}
{% load static %}
{% block meteo %}{% endblock meteo %}
{% block content %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    
    <h2>Create Account</h2>
    <input type="text" placeholder="Pseudo" name="username" required><br>
    <input type="email" placeholder="Email" name="email" required><br>
    <input type="password" placeholder="Password" name="password1" required><br>
    <input type="password" placeholder="Password confirmation" name="password2" required><br>
    {% for field in registration_form %}
        <p>
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
		{% endfor %}
        </p>
    {% endfor %}
        {% if registration_form.non_field_errors %}
        <div style="color: red">
            <p>{{registration_form.non_field_errors}}</p>
        </div>
	    {% endif %}
    <button class="btn btn-warning" type="submit" name="register">Sign Up</button>
</form>
{% endblock content %}


